:root {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
}

body {
    font-size: 1.6rem;
    height: 100vh;

    color: white;
    background-image: url(./imgmu.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: brightness(50%);

}

.container {
    padding: 1.6rem;
}

.container-calculater {
    width: 32.0rem;
    margin: 7.2rem auto 3.2rem;
    padding: 3.2rem 1.6rem;

    background: rgba(0, 0, 0, 0.5);
    border-radius: .8rem;
}

header h1 {
    font-size: 2.8rem;
    text-align: center;
}

main section {
    margin-top: 2.4rem;
}

label {
    font-size: 2.0rem;
    line-height: 3.2rem;
}

input {
    width: 100%;
    padding: 1.0rem;
    font-size: 2.0rem;
}

input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.calcuteButton {
    width: 100%;
    margin-top: 3.2rem;
    padding: 1.2rem;

    font-weight: 600;
    background: yellow;
    border: none;
    border-radius: .8rem;

    transition: 200ms;
}

.calcuteButton:hover {
    cursor: pointer;
    background: rgb(228, 228, 18);
}

aside {
    text-align: center;
}

aside h2 {
    margin-top: 2.4rem;
    font-size: 2.4rem;
    line-height: 3.2rem;
}

aside p {
    font-size: 2.0rem;
    width: 20.0rem;
    margin: 0 auto;
}

.containerModal {
    position: absolute;
    inset: 0;

    display: grid;
    place-content: center;

    background: rgba(0, 0, 0, 0.5);

    display: none;
}

.modal {
    height: 14.0rem;
    width: 32.0rem;
    margin: 0 auto;

    padding: 3.2rem;

    border-radius: .8rem;
    box-shadow: .1rem .1rem .4rem black;

    font-size: 3.2rem;
    text-align: center;
    background: white;

    position: relative;
}

.modal p {
    color: black;
    font-size: 3.2rem;
}

.closeButton {
    position: absolute;

    top: 1.0rem;
    right: 1.0rem;

    background: none;
    border: none;

    font-size: 1.8rem;

    transition: 200ms;
}

.closeButton:hover {
    cursor: pointer;
    transform: scale(1.2);
}

footer {
    text-align: center;
    font-size: 1.8rem;

    padding: 4.8rem 0 1.6rem;
}